<template id="template-message-item">
  <li class="message-unread">
    <article class="message-item">
      <a href="#" class="message-reply-bar" hidden>
        <span class="message-reply-bar-text"></span>
      </a>
      <header class="message-header">
        <a href="#" class="message-from node-link" data-field="from-node" data-node-id=""></a>
        <a href="#" class="message-time-link">
          <time class="message-time" data-field="rx-time" datetime="1970-01-01T00:00:00Z">—</time>
        </a>
      </header>
      <p class="message-text" data-field="text"></p>
    </article>
  </li>
</template>
