<template id="template-node-detail">
  <article class="node-detail">
    <h2 data-field="heading">Node Details</h2>
    <table>
      <tbody>
        <tr><th scope="row">Node ID</th><td data-field="node-id"></td></tr>
        <tr><th scope="row">Long Name</th><td data-field="long-name"></td></tr>
        <tr><th scope="row">Short Name</th><td data-field="short-name"></td></tr>
        <tr><th scope="row">Hardware</th><td data-field="hardware"></td></tr>
        <tr><th scope="row">Role</th><td data-field="role"></td></tr>
        <tr><th scope="row">First Seen</th><td data-field="first-seen"></td></tr>
        <tr><th scope="row">Last Seen</th><td data-field="last-seen"></td></tr>
        <tr><th scope="row">Battery</th><td data-field="battery"></td></tr>
        <tr><th scope="row">Voltage</th><td data-field="voltage"></td></tr>
        <tr><th scope="row">SNR</th><td data-field="snr"></td></tr>
        <tr><th scope="row">RSSI</th><td data-field="rssi"></td></tr>
        <tr><th scope="row">Latitude</th><td data-field="latitude"></td></tr>
        <tr><th scope="row">Longitude</th><td data-field="longitude"></td></tr>
        <tr><th scope="row">Altitude</th><td data-field="altitude"></td></tr>
      </tbody>
    </table>
    <p class="node-map-link" hidden>
      <a href="#" target="_blank" rel="noopener noreferrer" data-field="map-link">View on map</a>
    </p>
  </article>
</template>
